[submodule "src/shared/shared.items"]
	path = src/shared/shared.items
	url = https://gitlab.com/Uskuki/gen-shared.git
[submodule "src/shared/fed.communication"]
	path = src/shared/fed.communication
	url = https://gitlab.com/Uskuki/fedstocks-communication.git
	branch = main
