[submodule "src/shared/shared.items"]
	path = src/shared/shared.items
	url = https://github.com/uskukiv2/gen-shared.git
	branch = master
[submodule "src/shared/fed.communication"]
	path = src/shared/fed.communication
	url = https://github.com/uskukiv2/fedstocks-communication.git
	branch = main
