@code {
    
}
<div id="root_drag" style="height: inherit;">
    <div id="part_square" class="row border border-1" style="border-radius: 0.375rem">
        <img alt="" src="@Path" />
    </div>
    <div class="row mt-2">
        <InputFile id="uploadImage" class="form-control" OnChange="InputFileChanged" accept="image/*"></InputFile>
    </div>
</div>