@code
{
    private string _markdown;

    [Parameter]
    public string MarkdownBody
    {
        get => _markdown;
        set
        {
            _markdown = value;
            StateHasChanged();
        }
    }

    public string Preview => Markdig.Markdown.ToHtml(MarkdownBody);
}

<div class="MarkdownPreviewerMain ps-4 pt-2 pe-4 pb-2">
    @if (!string.IsNullOrEmpty(MarkdownBody))
    {
        @((MarkupString)Preview)
    }
</div>